<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/header.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="col-lg-12 text-center" style="margin-top: 50px;">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      </div>
    </div>
  </body>
</html>
